.navbar-inverse{
    background-color: #f1f1f2;
    border-bottom: 1px solid #bbbdbf;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 24px;
}

.navbar {
    min-height: 8.5em;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #0096c0;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-brand:hover {
    color: black;
}