.download-section {
    background: purple !important;
}

.a_hover{
    color: white !important;
    font-weight: bold;
}

.a_hover:hover{
    color: #fdf72e !important;
}

.align_left{
    text-align:left;
}

.content-section{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    min-height: 550px;
}

@media (max-width: 767px) {
   .masthead {
        background: url("../img/intro-bg-sm.jpg") no-repeat bottom center scroll !important;
    }
}